* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
//Variables
$items-menu: #878d96;
$items-menu_active: #f6337a;
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
h1 {
  padding: 10px 24px;
}
